html {
  font-family: 'Antic-Didone';
}

body {
  background-color: #02254d;
}

h1 {
  text-align: center;
  background-color: #8bbaf7;
  width: auto;
  padding: 20px;
  margin: 50px;
  border: groove 10px #326fa8;
}

h2 {
  text-align: center;
  background-color: #8bbaf7;
  width: auto;
  padding: 20px;
  margin: 50px;
  border: groove 10px #326fa8;
}

p {
	color: #242424;
  text-align: center;
}

ul {

}

li {

}

#tshirt-description {
  border: groove 10px #326fa8;
  background-color: #8bbaf7;
  width: auto;
  padding: 20px;
  margin: 50px;
  text-align: center;
}

#tshirt-pros-cons {
  border: groove 10px #326fa8;
  background-color: #8bbaf7;
  width: auto;
  padding: 20px;
  margin: 50px;
  text-align: center;
}

#tshirt-how-to-wear-make {
  border: groove 10px #326fa8;
  background-color: #8bbaf7;
  width: auto;
  padding: 20px;
  margin: 50px;
  text-align: center;
}

#bandana-description {
  border: groove 10px #326fa8;
  background-color: #8bbaf7;
  width: auto;
  padding: 20px;
  margin: 50px;
  text-align: center;
}

#bandana-how-to-wear-make {
  border: groove 10px #326fa8;
  background-color: #8bbaf7;
  width: auto;
  padding: 20px;
  margin: 50px;
  text-align: center;
}
#helpful-links {
  border: groove 10px #326fa8;
  background-color: #8bbaf7;
  width: auto;
  padding: 20px;
  margin: 50px;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  background-color: #c1ebf5;
  background-size: auto;
  opacity: 0.6;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}